header {
  background-color: #DAEADC;
  position: sticky;
  top: 0;
  z-index: 99999;

}

header img {
  width: 30%;
  min-width: 130px;
 
}


header a {
  margin-left: 30px;
  transition: 0.5s;
  font-weight: 500;
}
header .btn{
  background: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

header a:hover {
  color: #27ae60;
}


header h4 {
  font-weight: 500;
  margin-right: 20px;
}

header .toggle {
  display: none;
}

header .btn1 a {
  margin-left: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  color: #000000;
}

@media screen and (max-width: 768px) {
  header {
    padding: 0;
  }

  header img {
    margin-top: 30px;
  }

  header .button {
    display: none;
  }

  header .nav .flex {
    display: none;
  }

  header .toggle {
    display: block;
    margin-top: 20px;
  }

  header .small {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: #27ae60;
    padding: 20px;
  }

  header li a {
    display: inline-block;
    margin-bottom: 20px;
    color: #fff;
  }
}