.recent .text h4{
  font-size: 20px;
margin-left: 10px;
}
.recent .category span {
  padding: 4px 15px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
}

.recent .category i {
  font-size: 20px;
  color: #bec7d8;
}
.recent p {
  color: #72809d;
    margin-left: 19px;
}
.recent .button {
  border-top: 1px solid #e4e8f3;
  padding: 10px 30px;
}
.img{
  border-radius: 18px;
  margin: 17px;
  width: 90%;
}
