.about {
  margin-bottom: 80px;
}
.about .heading {
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}
.about p {
  font-size: 18px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 60px;
  margin-bottom: 20px;
  line-height: 40px;
}
.about  .row{
  width: 100%;
  height: 60%;
  left: 30%;

}
.about  .row1{
  width: 60%;
  height: 60%;
 margin-top: 5%;


}

@media screen and (max-width: 768px) {
  .about .container {
    flex-direction: column;
  }
  .about p {
    padding: 0;
  }
  .about .container img {
    margin-top: 50px;
  }
}
