@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  font-family: "Poppins", sans-serif;
  background-color: #DAEADC;
}

.container {
  max-width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79px;
  margin-left: auto;

}

a {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
}

button {
  background: #7FB186;
  border-radius: 17px;
  border: none;
  padding: 12px;
  cursor: pointer;
  font-weight: bold;
}

button i {
  margin-right: 5px;
}

.heading {
  text-align: center;
  width: 60%;
  margin: auto;
}

.heading h1 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  
  color: #41594C;
}

.heading p {
  color: #72809d;
}

textarea,
input {
  border: none;
  outline: none;
  background: none;
}

.background {
  padding: 80px 0;
  position: relative;

}

.grid5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

label {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}

.mtop {
  margin-left: 40px;
  height: fit-content;

}

h4 {

  margin-top: 10px;
  margin-top: 10px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 41px;
  color: #000000;
}

.shadow {
  /* box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%); */
  
  background: #FFFFFF;
  border-radius: 27px;
}

.padding {
  padding: 80px 0;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.btn2 {
  border-radius: 50px;
  font-size: 20px;
  background-color: #27ae6000;
  color: #1A36C9;
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.btn3 {
  background: #ff6922;
  border-radius: 50px;
}

.btn4 {
  background-color: #000;
  color: #fff;
}

.btn5 {
  border-radius: 50px;
  padding: 20px 40px;
  color: #27ae60;
  font-size: 20px;
  font-weight: 400;
  border: 5px solid #27ae601f;
  background: #fff;
}

.back {
  height: 46vh;
  position: relative;
}

.back img {
  height: 46vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.back::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 46vh;
  background: rgba(17, 40, 72, 0.629);
  z-index: -1;
}

.back .container {
  color: #fff;
  padding: 120px 0;
}

.back h1 {
  font-size: 40px;
  font-weight: 500;
}

.mb {
  margin-bottom: 80px;
}

@media screen and (max-width: 800px) {

  .grid4,
  .grid3,
  .grid5 {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading {
    width: 100%;
  }

  .container {
    max-width: 90%;
  }

  .back::after,
  .back img,
  .back {
    height: 60vh;
  }
}